{# templates/admin/_menu.html.twig #}
<ul class="navbar-nav me-auto">
    <li class="nav-item"><a class="nav-link" href="/admin/projects">Projets</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/skills">Compétences</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/api-keys">Clés d'API</a></li>
</ul>
<ul class="navbar-nav ms-auto">
    <li class="nav-item"><a class="nav-link" href="/admin/logout">Se déconnecter</a></li>
</ul>