{# templates/admin/dashboard.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Tableau de Bord{% endblock %}

{% block body %}
    <h1>Bienvenue sur votre tableau de bord</h1>
    <p>Utilisez le menu ci-dessus pour naviguer entre les différentes sections de l'administration.</p>
{% endblock %}