{% extends "base.html.twig" %}

{% block title %}Accueil - Mon Portfolio{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="display-4">Accueil</h1>
        <p class="lead">
            Ceci est le backend qui alimente mon site.
        </p>
        <hr class="my-4">
        <p>
            Comment tu as fait pour acceder a cette partie de mon site ?
        </p>
        <a class="btn btn-primary btn-lg" href="https://www.google.com" role="button">Vas t'en</a>
    </div>
{% endblock %}